body{
    background: black;
}


.kodluyoruz-img{
    margin-top: 120px;
    margin-left: 550px;
    width: 25%;
}

.h1-Merhaba{
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
}



.saat{
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
}

.text2{
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    margin-right: 100px;
    margin-left: 100px;
}
